

.video-show-container{
    display: flex;
    width: 100%;
    height: 100%;
}

.video-group-container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1% 1% 2% 4%;
    width: 100%;
    height: 100%;
    font-family: roboto;
}
.video-show-left-container{
    /* border: 1px solid black; */
    width: 75%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.video-show-right-container{
    /* border: 1px solid black; */
    width: 25%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding-left: 24px;
    align-self: end;
}

.video-preview{
    width: 100%;
    height: 94px;
    display: flex;
    padding: 5px 0px;
    font-weight: 500;

}

.video-preview-thumbnail-link{
    height: 94px;
    width: 168px;
}

.video-preview-thumbnail{
    height: 100%;
    width: 100%;
}

.up-next{
    font-family: roboto;
}

.video-preview-info{
    display: flex;
    flex-direction: column;
    font-family: Roboto;
    padding: 0px 5px;
    width: 70%;
}

.video-preview-title{
    font-size: 15px;
    color: black;
    padding: 5px 0px;
}

.video-preview-username{
    font-size: 13px;
    color: gray;
    padding-bottom: 5px;
}





.video-show-video-container{
    border: 1px solid black;
    width: 100%;
    height: auto;
}

.video-show-video{
    width: 100%;
    height: auto;
    flex-shrink: 1;
}

.video-show-video-info-container{
    /* border: 1px solid black; */
    display: flex;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 8px;
    flex-direction: column;
    border-bottom: 1px solid gray;
    height: 93px;
}
.video-show-title{
    /* border: 1px solid black; */
    width: 100%;
    font-size: 18px;
}

.video-show-video-stats{
    /* border: 1px solid black; */
    display: flex;
    height: 40px;
    justify-content: space-between;
}

.vpi-video{
    /* border: 1px solid black; */
    align-items: center;
    
}

.video-likes{
    display: flex;
    flex-direction: row;
    align-items: center;
    color: gray;
    margin-right: 30px;

}

.video-like-button{
    margin: 0px 10px;   
}

.upvoted{
    color: green;
}

.downvoted{
    color: red;
}
.video-show-user-desc-container{
    display: flex;
    width: 100%;
    /* border: 1px solid black; */
    margin: 0px 0px 12px;
    padding: 16px 0px 0px;
    height: 100px;
    align-items: center;
    justify-content: space-between;
}

.video-show-user-container{
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.video-show-profile-info{
    display: flex;
    align-items: center;
    /* border: 1px solid black; */
}

.video-show-pro-pic{
    height: 48px;
    width: 48px;
    /* border: 1px solid black; */
    
}

.video-show-pro-pic img{
    width: 100%;
}

.video-show-email-subscribers{
    display: flex;
    flex-direction: column;
    padding-left: 10px;
}
.video-show-email{
    font-size: 14px;
    color: black;
    text-decoration: none;
    margin-bottom: 3px;
}

.video-show-email-subscribers a{
    text-decoration: none;
}


.subscribe-button{
    margin-right: 10px
}

.video-show-subscribers{
    font-size: 13px;
    color: #606060
}

.description-container{
    padding: 20px;
    border-bottom: 1px solid gray
}


.pro-pic-initial-video{
    display: flex;
    border: 1px solid;
    width: 50px;
    height: 50px;
    color: white;
    background-color: purple;
    font-weight: 500;
    align-items: center;
    border-radius: 100%;
    justify-content: center;
}
@media (max-width: 1200px) {
    .video-group-container{
        flex-direction: column;
    }

    .video-show-left-container{
        width: 100%;
    }
}

