.video-search-container{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 15px;
    background-color: #F9F9F9;
}

.video-search-index-item{
    width: 50%;
    height: 138px;
    display: flex;
    flex-direction: row;
    margin: 25px auto;
    font-family: roboto;
}

.video-search-index-thumbnail{
    width: 246px;
    height: 138px;
    margin-right: 15px;
}

.video-search-info-container{
    display: flex;
    flex-direction: column;
    width: 100%;

}

.description-container-search{
    overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}